# ============ DEPENDENCIAS ============
node_modules/
package-lock.json

# ============ VARIABLES DE ENTORNO ============
.env
.env.local
.env.*.local

# ============ ARCHIVOS DEL SISTEMA ============
.DS_Store
Thumbs.db

# ============ LOGS ============
*.log
npm-debug.log*

# ============ UPLOADS ============
uploads/

# ============ IDE ============
.vscode/
.idea/
